__pycache__
.env
.learn
/workspaces/proyecto-final/src/santander-product-recommendation/sample_submission.csv.zip
/workspaces/proyecto-final/src/santander-product-recommendation/test_ver2.csv.zip
/workspaces/proyecto-final/src/santander-product-recommendation/train_ver2.csv
/workspaces/proyecto-final/src/santander-product-recommendation/train_ver2.csv.zip
/workspaces/proyecto-final/src/Proyecto_filtrada.db
/workspaces/proyecto-final/src/Proyecto.db